<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style/estilo_basico.css">
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <p><strong>Nome criptografado:</strong> <%= nomeCriptografado %></p>
        <p><strong>Email criptografado:</strong> <%= emailCriptografado %></p>

        <a href="/">Voltar</a>
    </div>
</body>
</html>
